.btn{
    padding: 5px 30px;
    border-radius: $btn-radius;
    // Btn laranja
    &.btn-laranja{
        background-color: $color-tercenaria;
        color: $color-branco;       
    }
    // End Btn laranja
}